@media screen and (min-width: 800px) {

    .hero img {
        width: 100%;
        height: auto;      /* mostra a imagem inteira */
        display: block;
    }

    .cards {
        max-width: 1000px;
        margin: -80px auto 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 0 2rem;
        position: relative;
        z-index: 20;
    }

    .card {
        padding: 35px;
    }

    .weather-icon {
        display: none;
    }

    .climate-title::after {
        content: " ⛅";
        font-size: 1.4rem;
    }
}