:root{
    --primary:#009C3B;
    --secondary:#FFDF00;
    --dark:#002776;
    --light:#ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

header{
    background:var(--primary);
    color:white;
    text-align:center;
    padding:1rem;
}

picture img{
    width:100%;
    display:block;
}

section{
    background:white;
    margin:1rem;
    padding:1rem;
    border-radius:8px;
}

.weather img{
    width:60px;
    display:block;
    margin:auto;
}

footer{
    background:var(--dark);
    color:white;
    text-align:center;
    padding:1rem;
}