/* ==========================
   VARIÁVEIS GLOBAIS
========================== */

:root {
    --primary: #009c3b;
    --secondary: #ffdf00;
    --dark: #002776;
    --light: #ffffff;
    --background: #f4f4f4;
    --text: #333333;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    --radius: 12px;
}

/* ==========================
   RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================
   BODY
========================== */

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
    line-height: 1.6;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* ==========================
   HEADER
========================== */

header {
    background: var(--primary);
    color: var(--light);
    text-align: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
}

header h1 {
    font-size: 2rem;
}

/* ==========================
   HERO
========================== */

.hero {
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* ==========================
   CARDS
========================== */

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 1.5rem;
}

/* ==========================
   CARD
========================== */

.card {
    background: var(--light);
    border-radius: var(--radius);
    padding: 30px;
    box-shadow: var(--shadow);
}

/* ==========================
   TÍTULOS
========================== */

.section-title {

    background: var(--primary);

    color: white;

    text-align: center;

    padding: 15px;

    border-radius: 8px;

    font-size: 1.8rem;

    margin-bottom: 25px;

    position: relative;

}

.section-title::before {

    content: "";

    position: absolute;

    left: 0;

    bottom: -10px;

    width: 100%;

    height: 4px;

    background: var(--secondary);

}

/* ==========================
   PARÁGRAFOS
========================== */

.card p {
    font-size: 1.1rem;
    margin-bottom: 18px;
    line-height: 1.8;
}

.card strong {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: bold;
}

/* ==========================
   CLIMA
========================== */

.weather {
    text-align: center;
}

.weather-icon {
    width: 90px;
    margin: 20px auto;
    display: block;
}

.climate-title::after {
    content: "";
}

/* ==========================
   FOOTER
========================== */

footer {
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: auto;
}

footer p:first-child {
    margin-bottom: .5rem;
}